In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

True

In [3]:
course_data = pd.DataFrame.from_csv('udemy_courses_new.csv')

In [5]:
course_data.to_sql('course_data_table', engine, if_exists='replace')

In [16]:
dbname = 'courses_db'
username = 'swang'
pswd = '1118'
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [ ]:
# add database

In [ ]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [43]:
# query:
#sql_query = """
#SELECT * FROM course_data_table WHERE num_reviews > 500 ORDER BY avg_rating DESC LIMIT 5;
#"""

sql_query = """
SELECT * FROM course_data_table WHERE (description LIKE '% Ruby %') and (num_reviews > 50) ORDER BY avg_rating DESC LIMIT 5;
"""

course_data_from_sql = pd.read_sql_query(sql_query,con)

course_data_from_sql

,index,avg_rating,description,headline,homepage,image,num_reviews,title
0,437,4.69880,\t The Pro Ruby on Rails Starter Course p...,Take the first step in learning Ruby on Rails ...,www.udemy.com/pro-rubyonrails-starter/,https://udemy-images.udemy.com/course/240x135/...,83.0,The Pro Ruby on Rails Starter
1,2030,4.66190,LEARN HOW TO CODE IN JUST 2 WEEKS!\nFind out w...,"Learn coding with Ruby - the easy, popular web...",www.udemy.com/newbie-to-ruby/,https://udemy-images.udemy.com/course/240x135/...,105.0,Introduction to Coding with Ruby
2,2048,4.65667,Are you ready to build professional applicatio...,Learn how to build a real world Angular 2 appl...,www.udemy.com/angular-on-rails-course/,https://udemy-images.udemy.com/course/240x135/...,150.0,Angular 2 + Rails 5 Bootcamp
3,1981,4.63014,Update March 2016 - New lectures have been add...,This is a comprehensive Ruby on Rails developm...,www.udemy.com/comprehensive-ruby-on-rails/,https://udemy-images.udemy.com/course/240x135/...,73.0,Comprehensive Ruby on Rails
4,963,4.61486,Hi and welcome to the Professional Rails Code ...,Develop a real world Rails project using TDD/B...,www.udemy.com/professional-ruby-on-rails-codin...,https://udemy-images.udemy.com/course/240x135/...,148.0,Professional Rails Code Along