In [1]:
from bs4 import BeautifulSoup # For HTML parsing
import urllib2 # Website connections
import re # Regular expressions
from time import sleep # To prevent overwhelming the server between connections
from nltk.corpus import stopwords # Filter out stopwords, such as 'the', 'or', 'and'
import pandas as pd # For converting results to a dataframe and bar chart plots
from collections import Counter

%matplotlib inline

/Users/swang/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
# library for the key words. Stretch goal: build one from the job description using a topic model: LDA.

program_languages=['bash','r','python','java','c++','ruby','perl','matlab','javascript','scala','php','c#']
analysis_software=['excel','tableau','d3.js','sas','spss','d3','saas','pandas','numpy','scipy','sps','spotfire','scikits.learn','splunk','powerpoint','h2o']
bigdata_tool=['hadoop','mapreduce','spark','pig','hive','shark','oozie','zookeeper','flume','mahout']
databases=['sql','nosql','hbase','cassandra','mongodb','mysql','mssql','postgresql','oracle db','rdbms']
overall_dict = program_languages + analysis_software + bigdata_tool + databases

cleaneddoc = pd.read_pickle('cleaned_doc.txt')

In [12]:
skills = []

for i in range(len(cleaneddoc)):
     skills = skills + [w for w in cleaneddoc[i] if w in overall_dict]

In [13]:
len(skills)

13300

In [14]:
counts = Counter(skills)

In [29]:
df = pd.DataFrame.from_dict(counts, orient='index').reset_index()

In [35]:
df.rename(columns={'index':'skill', 0:'count'})

         skill  count
0        shark      2
1        nosql     76
2         saas    123
3    zookeeper     12
4      tableau    228
5         hive     31
6        oozie      8
7        mysql    303
8          sas     31
9        hbase    189
10          d3     55
11   cassandra    228
12         php    146
13        java   2395
14       rdbms    144
15       scala    317
16       excel    410
17      hadoop    776
18        perl    233
19      mahout     22
20      matlab     61
21       numpy      3
22       flume     28
23         sps      4
24      python   1096
25     mongodb    172
26  javascript   1186
27    spotfire     34
28       scipy      8
29         sql   2272
30       spark    486
31         pig    105
32        ruby    290
33       mssql     21
34        bash    107
35  postgresql     91
36   mapreduce     85
37         c++    564
38        spss     13
39           r    513
40      splunk    150
41  powerpoint    282